<div class="row bottomline topline bgColor rowStyle" >
	<div class="col-3 col-s-3 ">
		<div class="v1 column1Style" >
			<button class="arrowbutton" (click)="decrementData()"><fa-icon [icon]="faArrowLeftIcon" class="arrowStyle" ></fa-icon></button>
				<span>{{count}}</span>
				<span>/</span>
				<span>23</span>
			<button class="arrowbutton" (click)="incrementData()"><fa-icon [icon]="faArrowRightIcon" class="arrowStyle" ></fa-icon></button>
		</div>
	</div>
	<div class="col-6 col-s-9">
		<div>
			<div class="fontBold">{{label1}}</div>
			<div class="fontItalic">{{label2}}</div>
		</div>
	</div>
	<div class="col-3 col-s-3 column3Style" >

		<div class="displayFlex">
			<!--Status Icon -->
			<div  class="v1 toolBarLabelStyle">
				<div>{{toolBarLabels[0]}}</div>
				
					<fa-icon [icon]="faHeartbeatIcon" [ngClass]="[statusClass]" (click)="toggleStatus()">
					</fa-icon>
					
				
			</div>

			<!--Share Icon -->
			<div  class="v1 toolBarLabelStyle">
				<div>{{toolBarLabels[1]}}</div>
				<fa-icon [icon]="faShareAltIcon" [ngClass]="[shareClass]" (click)="toggleShare()"></fa-icon>
				
			</div>

			<!--Filter Icon -->
			<div class=" toolBarLabelStyle">
				<div>{{toolBarLabels[2]}}</div>
				<fa-icon [icon]="faFilterIcon" [ngClass]="[filterClass]" (click)="toggleFilter()" ></fa-icon>
				
			</div>

			
		</div>
	</div>
</div>
