::ng-deep .customClass > a {
	background-color:none;
}

::ng-deep  .nav-pills .nav-link{
	border-radius:0px;
	background-color:none;
	color:black;
}


::ng-deep  .nav-pills .nav-link.active{
	border-radius:0px;
	background-color:transparent !important;
	color:black;
	font-weight:bold;
	border-bottom:2px solid #007bff;
}

.routing_link{
	text-decoration: none;
	color: #000000;
}


.bgColor{
	background-color: #fff;
}

.rowStyle{
	width: 100%;  
	margin-left: 0px;
}

.column3Style{
	padding-left: 200px; 
	padding-top: 10px;
}